#add-task-form {
    visibility:hidden;
    position: fixed;
    float:right;
    display: flex;
    flex-direction: column;
}

#all-tasks {
    display: flex;
    flex-direction: row;
}

#all-tasks > section {
    margin: 10px;
    height: 90vh;
    width: 70vw;
    background-color: lightgray;
}

#todo-list > ul {
    width: 100%;
    display: grid;
}

.draggable-item {
    list-style: none;
    background-color: lightblue;
    padding: 10px;
    width: 100%;
    margin: 0px;
}